:root {
  --spacing-full: 100%;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-60: 240px;
  --spacing-75: 300px;
  --spacing-80: 320px;
  --spacing-90: 360px;
  --spacing-sm: 0.25rem;
  --inset-0: 0;
  --z-index: 100;
}

.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}
.w-full {
  width: var(--spacing-full);
}
.h-full {
  height: var(--spacing-full);
}
.h-8 {
  height: var(--spacing-8);
}
.h-90 {
  height: var(--spacing-90);
}
.h-12 {
  height: var(--spacing-12);
}
.h-14 {
  height: var(--spacing-14);
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: var(--inset-0);
}
.bottom-0 {
  bottom: var(--inset-0);
}
.left-0 {
  left: var(--inset-0);
}
.right-0 {
  right: var(--inset-0);
}
.z-100 {
  z-index: var(--z-index);
}
.z-200 {
  z-index: calc(var(--z-index) + 100);
}
.z-300 {
  z-index: calc(var(--z-index) + 200);
}
.inline-flex {
  display: inline-flex;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.border-whitesmoke {
  border-color: lightgray !important;
}
.border {
  border: 1px solid;
}
.rounded {
  border-radius: var(--spacing-sm);
}
.rounded-b {
  border-bottom-right-radius: var(--spacing-sm);
  border-bottom-left-radius: var(--spacing-sm);
}
.rounded-full {
  border-radius: 9999px;
}
.text-sm {
  font-size: 0.875rem;
}
.self-center {
  align-self: center;
}
.flex-shrink-0 {
  flex-shrink: var(--inset-0);
}
.ml-2 {
  margin-left: var(--spacing-2);
}
.m-1 {
  margin: var(--spacing-1);
}
.mt-5 {
  margin-top: var(--spacing-5) !important;
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mr-2 {
  margin-right: var(--spacing-2);
}
.mx-3 {
  margin: var(--inset-0) var(--spacing-3);
}
.px-4 {
  padding: var(--inset-0) var(--spacing-4);
}
.ml-1 {
  margin-left: var(--spacing-1);
}
.-ml-1 {
  margin-left: -4px;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-6 {
  margin-top: var(--spacing-6) !important;
}
.mx-auto {
  margin: var(--inset-0) auto !important;
}
.pt-0 {
  padding-top: 0;
}
.p-4 {
  padding: var(--spacing-4);
}
.px-6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}
.transition-bounce {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bg-black-transparent {
  background-color: hsla(0, 0%, 0%, 0.34);
}
.leading-none {
  line-height: 1;
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.glider::-webkit-scrollbar {
  display: none;
}
.product__item {
  background: #00000017;
  background: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9)
  );
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.pointer-events-none {
  pointer-events: none;
}
.text-base {
  font-size: var(--spacing-4) !important;
}
@media screen and (min-width: 1024px) {
  .sm\:h-60 {
    height: var(--spacing-60);
  }
  .sm\:h-16 {
    height: var(--inset-16);
  }
  .sm\:px-0 {
    padding-left: var(--inset-0);
    padding-right: var(--inset-0);
  }
}
